[user]
name = "Troy Connor"
email = "troy0820@users.noreply.github.com"

[colors]
commit_id = "magenta"
change_id = "cyan"
"diff removed" = { fg = "yellow", underline = false }
"diff added" = {  fg = "cyan", underline = false }
"diff token" = {underline = false}
"diff modified" = "magenta"

[aliases]
s = ["st"]
l = ["log"]
d = ["diff"]
signoff = ["--config=ui.editor='/home/troy0820/signoff.sh'", "describe"]

[templates]
log_node = '''
coalesce(
  if(current_working_copy, "●"),
  if(immutable, "⊗", "○"),
)
'''

[template-aliases]
"format_short_id(id)" = 'id.shortest(12).prefix() ++ "[" ++ id.shortest(12).rest() ++ "]"'
'format_timestamp(timestamp)' = "timestamp.ago()"
'format_short_signature(signature)' = "signature.email().local()"
'format_detailed_signature(signature)' = "signature.email().local()"
'commit_timestamp()' = 'self.author().timestamp()'

builtin_log_detailed = '''
"\n\n\n" ++
concat(
  "Change ID: " ++ format_short_id(change_id) ++ "\n",
  "Commit ID: " ++ format_short_id(commit_id) ++ "\n",
  surround("Bookmarks: ", "\n", separate(" ", local_bookmarks, remote_bookmarks)),
  surround("Tags     : ", "\n", tags),
  if(config("ui.show-cryptographic-signatures").as_boolean(),
    "Signature: " ++ format_detailed_cryptographic_signature(signature)),
  "\n",
  "Author   : " ++ format_detailed_signature(author) ++ "\n",
  "TimeStamp : " ++ format_timestamp(commit_timestamp()) ++ "\n",
  "Committer: " ++ format_detailed_signature(committer)  ++ "\n",
    indent("    ",
    coalesce(description, label(if(empty, "empty"), description_placeholder) ++ "\n")),
  "\n",
)
'''


[ui]
editor = "nvim"
paginate = "auto"
diff.format = "git"
show-cryptographic-signatures = true
default-command = "log"

[diff.git]
context = 6

[signing]
sign-all = true
backend = "gpg"
key = "redacted"

[git]
#auto-local-bookmark = true
push-bookmark-prefix = "troy0820/feat-"

[remotes.origin]
auto-track-bookmarks = 'true'
